# http://editorconfig.org
root = true

[*.{js,jsx,ts,tsx}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yml,md,mdx,babelrc,eslintrc}]
indent_style = space
indent_size = 2

[*.{md,mdx}]
max_line_length = 120
trim_trailing_whitespace = false
